html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iYmxhY2siLz48L3N2Zz4="),
    auto;
}

/* STYLES BTNS CATEGORIES PROJECTS */
/* button {
  background: #FFF;
  border: 3px solid #01B4FF;
  border-radius: 8px;
  color: #01B4FF;
  height: 3rem;
  width: 5rem;
  margin: 0px 15px;
} */

button:hover {
  transform: scale(1.1);
}

button:disabled {
  --dot-bg: #A9A9A9;
    --dot-color: #000;
    --dot-size: 3px;
    --dot-space: 22px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
      border-radius: 50% 50% 0% 0%;
  /* background-color: #01B4FF;
  box-shadow: 0 0 12px #01B4FF;
  color: #FFF; */
}

/* button:disabled {
  background-color: #01B4FF;
  box-shadow: 0 0 12px #01B4FF;
  color: #FFF;
} */


/* HOBBIES */
.container {
  display: flex;
  width: 90vw;
}

.card {
  position: relative;
  height: 60vh;
  background-color: #FFF;
  flex: 1;
  margin: 5px;
  transition: flex .5s ease-in;
  border-radius: 50px;
}

.img {
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}

.heading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #FFF;
  opacity: 0;
}

.active {
  flex: 5;
}

.active .heading {
  opacity: 1;
}



.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* .hero__header h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
} */

.scroll-section-outer {}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

/* STYLE SCROLLBAR */
::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background: #A9A9A9;
  border-radius: 100vw;
  margin-block: 15.5em;
  margin-left: 10em;
}

::-webkit-scrollbar-thumb {
  background: #5D6D7E;
  border: 0.25em solid #2980B9;
  /* height: 1em!important; */
  border-radius: 100vw;

}

::-webkit-scrollbar-thumb:hover {
  background: hsl(120 100% 10% / 1);
  border-radius: 100vw;
}









.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  min-height: 75px;
  padding: 1rem;
  /* background: #000; */
  color: #FFF;
  z-index: 888;
}

.navbarLinks {
  padding-top: 55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -100vw;
  bottom: 0;
  width: 0;
  height: 100vh;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(7px);
  /* background: red; */
  margin-top: 88px;
  visibility: hidden;
  /* padding: 2rem; */
  transition: all 0.8s ease-out;
  /* z-index: 999; */
}

.navbarItem::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 3vw;
  height: 1px;
  background: #FFF;
}

.navbarItem:last-child::after {
  display: none;
}

.showNav .navbarLinks {
  width: 100vw;
  right: 0;
  visibility: visible;
}

.navbarBurger {
  display: block;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 999;
}

.navbarBurger:hover {
  cursor: pointer;
}

.burgerBar,
.burgerBar::before,
.burgerBar::after {
  display: block;
  width: 40px;
  height: 3px;
  position: relative;
  border-radius: 3px;
  background: #FFF;
  transition: all 0.5s ease-in-out;
}

.burgerBar::before,
.burgerBar::after {
  content: "";
  position: absolute;
  left: 0;
}

.burgerBar::before {
  transform: translateY(-12px);
}

.burgerBar::after {
  transform: translateY(12px);
}

.showNav .burgerBar::before {
  transform: rotate(45deg);
}

.showNav .burgerBar::after {
  transform: rotate(-45deg);
}

/* Burger Btn animation */
.navbarItem {
  transform: translateY(100vh);
}

.showNav .navbarItem {
  transform: translateY(0);
}

.showNav .slideInDown-1 {
  transition: all 1s ease-out;
}

.showNav .slideInDown-2 {
  transition: all 1.2s ease-out;
}

.showNav .slideInDown-3 {
  transition: all 1.4s ease-out;
}

.showNav .slideInDown-4 {
  transition: all 1.6s ease-out;
}

.showNav .slideInDown-5 {
  transition: all 1.8s ease-out;
}

.showNav .slideInDown-6 {
  transition: all 2s ease-out;
}

.showNav .slideInDown-7 {
  transition: all 2.2s ease-out;
}


.navbarBurgerWrapper {
  position: relative;
  width: 35px;
  height: 45px;
  /* width: 300px;
  height: 300px; */
  border-radius: 9px;
  cursor: pointer;
  background: #000;
  box-shadow: 0 0 5px #0EF, 0 0 10px #0EF, 0 0 20px #0EF, 0 0 40px #0EF;
}

.burgerIcon {
  position: relative;
  width: 50px;
  height: 37px;
  /* width: 220px;
  height: 170px; */
  /* background: #0EF; */
  margin: auto;
  display: flex;
  align-items: center;
}

.burgerIcon span {
  position: absolute;
  display: block;
  width: 50%;
  height: 5px;
  background: linear-gradient(45deg, #0EF, #000);
  border: 2px solid #0EF;
  border-radius: 30px;
  box-shadow: 0 0 5px #0EF, 0 0 10px #0EF;
}

.burgerIcon span:nth-child(1) {
  top: 0;
  width: 50%;
}

.burgerIcon span:nth-child(2) {
  width: 50%;
}

.burgerIcon span:nth-child(3) {
  bottom: 0;
  width: 50%;
}



/* CONTACT */
input,
textarea {
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  font-size: 1em;
  background: #1D2B5A;
  color: #FFF;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  margin: 4px;
  width: 250px;
}














.section {
  background: "#000";
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.img {
  /*
  - "animation delay": Combien doit attendre l'animation jusqu'à ce que la lecture commence.
  - "animation-duration": Combien de temps votre animation prend pour terminer un cycle. */
  animation: animateIntro 1.5s linear forwards;
  animation-delay: 3s;
  filter: blur(1px);
  opacity: 0;
}

.section::before {
  background: linear-gradient(to right, #F00, #F00, #F0F0, #0FF, #FF0), #0FF;
  content: "";
  left: 0;
  height: 100%;
  mix-blend-mode: color;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.video {
  object-fit: cover;
}

.h1 {
  color: #DDD;
  font-size: 5em;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
}

.h1 span {
  animation: animateIntro 1s linear forwards;
  display: inline-block;
  filter: blur(1px);
  opacity: 0;
}

@keyframes animateIntro {
  0% {
    filter: blur(10px);
    opacity: 0;
    transform: rotateY(90deg);
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: rotateY(0deg);
  }
}

h1 .tt span:nth-child(1) {
  animation-delay: 1s;
}

h1 .tt span:nth-child(2) {
  animation-delay: 2s;
}

h1 .tt span:nth-child(3) {
  animation-delay: 2.5s;
}

h1 .tt span:nth-child(4) {
  animation-delay: 3s;
}

h1 .tt span:nth-child(5) {
  animation-delay: 3.5s;
}

h1 .oo span:nth-child(1) {
  animation-delay: 1s;
}

h1 .oo span:nth-child(2) {
  animation-delay: 2s;
}

h1 .oo span:nth-child(3) {
  animation-delay: 2.5s;
}

h1 .oo span:nth-child(4) {
  animation-delay: 3s;
}

h1 .oo span:nth-child(5) {
  animation-delay: 3.5s;
}

h1 .oo span:nth-child(6) {
  animation-delay: 3.75s;
}

h1 .oo span:nth-child(7) {
  animation-delay: 3.5s;
}

h1 .oo span:nth-child(8) {
  animation-delay: 3.75s;
}

h1 .oo span:nth-child(9) {
  animation-delay: 3.85s;
}

h1 .oo span:nth-child(10) {
  animation-delay: 4s;
}